# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ignore those folders
1D-Piston/.ipynb_checkpoints
1D-Piston/__pycache__
1D-Piston/Gridless-Methods.ipynb
1D-Piston/Particles-Method.ipynb
1D-Piston/Boundary-Data-Immersion-Method-Copy1.ipynb
1D-Piston/vid.mp4
